*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
   margin-top: -28px;
   margin-left: 188px;
}

.pho{
    margin-top: 25px;
    margin-left: 225px;
 
}
.par{
    text-align: center;
    margin-left: 45px;
    margin-top: -35px;
    font-size: 17px;
    font-weight: bold;


}


.com{
    list-style: none;
    margin-left: 700px;
}
li{
    float: left;
    padding-left: 11px;
}