*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 50%;
    margin-top: 1pc;
    margin-left: 1pc;
    color: white;
}
.particular{
    display: flex;
    border: 1px solid burlywood;
    background-color: black;
    height: 50%;
}
.submit {
    margin-left: 504px;
    margin-top: 9px;
}
#but {
    background-color: white;
    color: black;
    border-radius: 41%;
    border: 1px solid;
    width: 154%;
    height: 84%;
}
#line{
    color: white; 

}
.line4 {
    margin-left: 28px;
    margin-top: 10px;
}
li{
    float: left;
    padding: 10px;
   
}
.ps{
    display: flex;
}
.inpu{
    margin-left: 25px;
    margin-top: 10px;
}
#recherche {
    width: 363%;
    border: 1px solid antiquewhite;
    border-radius: 10px;
    height: 39px;
    padding-left: 39px;
    background-color: silver;
}
#search {
    margin-top: 21px;
    margin-left: 147px;
    width: 17px;
}
.align{
    margin-left: 24px;
}
#comment {
    width: 37px;
    margin-top: -8px;
    padding: 10px;
}
.show {
    list-style: none;
    margin-left: 945px;
    margin-top: -47px;
}
.shape1 {
    width: 17px;
    height: 18px;
    background-color: red;
    border-radius: 146%;
    margin-left: 405px;
}
.shape2 {
    width: 17px;
    height: 20px;
    background-color: red;
    border-radius: 107%;
    margin-left: 459px;
}
.inpu>input[type="text"]{
    background-color: red;
}
.lie{
    border: 1px solid gainsboro;
    height: 62px;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}


#touch {
    width: 218px;
    border-radius: 37px;
    height: 108%;
}
#touch10 {
    width: 218px;
    border-radius: 37px;
    height: 108%;
    margin-top: 27px;
}

#touch1{
    width: 85%;
    border-radius: 31px;
    height: 64%;
    margin-left: 8px;
}

#touch2{
    width: 71%;
    height: 81%;
    margin-left: -27px;
    border-radius: 34px;

}
#touch3{
    
    height: 54%;
    margin-left: -108px;
    border-radius: 34px;
    width: 207px;
}


#touch4{
    height: 35%;
    margin-left: 10px;
    border-radius: 34px;
    width: 207px;
}
#touch5{
    height: 51%;
    margin-left: 8px;
    border-radius: 34px;
    width: 207px;
}
#touch6{
    height: 77%;
    margin-left: 10px;
    border-radius: 34px;
    width: 207px;
}


#touch11{
    width: 85%;
    border-radius: 31px;
    height: 105%;
    margin-left: 8px;
    margin-top: -128px;
}
#touch12{
    width: 71%;
    height: 52%;
    margin-left: -27px;
    border-radius: 34px;
    margin-top: -76px;
}
#touch13{
    height: 40%;
    margin-left: -108px;
    border-radius: 34px;
    width: 207px;
    margin-top: -255px;
}
#touch14{
    height: 54%;
    margin-left: 10px;
    border-radius: 34px;
    width: 207px;
    margin-top: -139px;
}

#touch15{
    height: 69%;
    margin-left: 8px;
    border-radius: 34px;
    width: 207px;
    margin-top: -185px;
}

#touch16{
    height: 77%;
    margin-left: 10px;
    border-radius: 34px;
    width: 207px;
    margin-top: -246px;
}


.love{
    padding: 6px;
}
