*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
}
.container{
    width: 75px;
    margin: 0 200px;
}

  .top{
      height: 85px;
      background:#3B5998;  
      
  }
 .logo{
    float: left;
padding-top: 25px;

}
.for{
    float: right;
    margin-right: 280px;
    padding-top: 18px;
}
.textfield{
    width: 170px;
    height: 70px;
float: left;


}
.textfield>input{
    border: 1px solid ;
}
#pla{
    margin-top: 20px;
    background-color: #4267B2;
    border-radius: 3px;
    color: white;
    border: 1px solid ;
    width: 47px;
   
}
label{
color: white;

}
.forgot{
    color: white;
}
.leftbody{
    float: left;
    width: 400px;
    margin-top: 22px;
}
.rightbody{
    float: right;
    width: 700px;
    clear: both;
    margin-top: 22px;
 
}
#pl{
    margin-top: 25px; 
}
h1{
    color: #0E385F;
}
h2{
   font-size: 20px;
   color: slategray;
   font-weight:bolder;
   margin-top: 10px;
}

.fl{
    margin-top: 15px;
}
.bl{
    margin-top: 15px;
    

}
.bo{
    margin-top: 15px;
}
.br{
    margin-top: 15px;
}
.bir{
    margin-top: 15px;
}
#pp{
    margin-top: 10px;
    height: 25px;
}
.bl #lo{
    height: 40px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid;
    padding: 0 8px;
    font-size: 18px;
    margin-right: 15px;
}
.mo{
    background-color: slategrey ;

}
 .bo #la{
    height: 40px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid;
    padding: 0 8px;
    font-size: 18px;
    margin-right: 15px;
   
}
  .br #la{
    height: 40px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid;
    padding: 0 8px;
    font-size: 18px;
    margin-right: 15px;
   
}

.radiolo{
    margin-top: 15px;
   margin-left: 22px;
   font-size: 18px;
}
.comma{
    margin-left: 19px;
    font-weight: bolder;
    border-radius: 1px;
}
.colo{
    color: steelblue;
}
#si{
    width: 180px;
    height: 40px;
    color: white;
    background-color: forestgreen;
    border-radius: 5px;
    border: 1px solid;
    font-size: 20px;
}
.vc{
    margin-top: 630px;
    margin-left:  200px;
}
.pa{
    margin-left: 35px;
}
.pls{
    margin-bo: 50px;
}