*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
   margin-top: -28px;
   margin-left: 188px;
}

.pho{
    margin-top: 25px;
    margin-left: 225px;
 
}
.par{
    text-align: center;
    margin-left: 45px;
    margin-top: -35px;
    font-size: 17px;
    font-weight: bold;
}


.com{
    list-style: none;
    margin-left: 675px;
    
}
li{
    float: left;
    padding-left: 11px;
}
.inp{
  top: -10px;
    
margin-left: 930px;

}
#inp{
  width: 270px;
  height: 35px;
  border: 1.5px solid steelblue;
  margin-top: -10px;
  border-radius: 3px;
  padding-left: 10px;
}

#lo{
    margin-left: -27px;
    padding-bottom: -18px;
    width: 4%;
    padding-right: 5px;
}
.focus {
    border: 1px solid darkgray;
    margin-left: 14px;
    width: 98%;
    height: 1322px;
    margin-top: 3px;
    background-color: lightblue;
}
u{
    color: steelblue;
}
.the{
    list-style: none;
    margin-left: 170px;

}
.sec{
   height: 39px;
    border: 1px solid darkgray;
    padding-top: 6px;
    background-color: darkblue;
}
  .po {
    color: steelblue;
    text-decoration: none;
  }
.th{
    list-style: none;
    margin-left: 176px;
    text-decoration: none;
}
.pi {
    color: steelblue;
    text-decoration: none;
  }
  .thi{
      
      border: 2px solid steelblue;
      height: 25px;
      border-left: none;
      border-right: none;
      border-top: none;
      background-color: white;
  }
  .t{
      display: block;
      list-style: none;
  }
  .i{
      float: none;
      margin-top: 19px;
  }
  
.plo {
    width: 239px;
    height: 181px;
    margin: 10px;
    background-color: white;
    margin-left: 50px;
    margin-top: 10px;
    border: thistle;
    border: 1px solid #9E9E9E;
    border-radius: 3px;
}
  .pla {
    width: 206px;
    height: 181px;
    margin: 10px;
    background-color: white;
    margin-left: 50px;
    margin-top: 10px;
}
.NJ{
color: steelblue;
}
.Free{
    color: steelblue;
}
.po:hover{
    background-color: steelblue;
}

  .km{
      display: flex;
  }
  .kl{
      width: 100px;
      height: 67px;
      margin: 5px;
      background-color: darkgray;
  margin-top: -7px;
  margin-left: -35px;
  border-left: none;
  border-radius: 50%;
  }
  
  .ab{
    width: 52px;
    height: 47px;
    background-color:red;
margin-left: 45px;
border-radius: 50%;
margin-top: 134px;
  }
  .lb {
    width: 52px;
    height: 47px;
    background-color: yellow;
    margin-left: 66px;
    border-radius: 50%;
    margin-top: -71px;
}
  
  .a{
    width: 52px;
    height: 47px;
    background-color: darkorange;
margin-left: 94px;
border-radius: 50%;
margin-top: 134px;
  }
  
  .rb {
    width: 52px;
    height: 47px;
    background-color: red;
    margin-left: 344px;
    border-radius: 50%;
    margin-top: 133px;
}

.abc {
    width: 52px;
    height: 47px;
    background-color: darkorange;
    margin-left: 392px;
    border-radius: 50%;
    margin-top: 134px;
}
.abd {
    width: 52px;
    height: 47px;
    background-color: darkorange;
    margin-left: 693px;
    border-radius: 50%;
    margin-top: 134px;
}
.rd {
    width: 52px;
    height: 47px;
    background-color: red;
    margin-left: 646px;
    border-radius: 50%;
    margin-top: 133px;
}
.c {
    width: 52px;
    height: 47px;
    background-color: darkorange;
    margin-left: 692px;
    border-radius: 50%;
    margin-top: 134px;
}
    .rr {
        width: 52px;
        height: 47px;
        background-color: red;
        margin-left: 46px;
        border-radius: 50%;
        margin-top: 371px;
    }
  .abe {
    width: 52px;
    height: 47px;
    background-color: darkorange;
    margin-left: 93px;
    border-radius: 50%;
    margin-top: 371px;
}

.rl {
    width: 52px;
    height: 47px;
    background-color: red;
    margin-left: 345px;
    border-radius: 50%;
    margin-top: 370px;
}

.mn {
    width: 52px;
    height: 47px;
    background-color: darkorange;
    margin-left: 393px;
    border-radius: 50%;
    margin-top: 370px;
}
.rp {
    width: 52px;
    height: 47px;
    background-color: red;
    margin-left: 46px;
    border-radius: 50%;
    margin-top: 371px;
}
.abf {
width: 52px;
height: 47px;
background-color: darkorange;
margin-left: 93px;
border-radius: 50%;
margin-top: 371px;
}
.as {
    width: 52px;
    height: 47px;
    background-color: darkorange;
    margin-left: 693px;
    border-radius: 50%;
    margin-top: 371px;
}
.rs {
    width: 52px;
    height: 47px;
    background-color: red;
    margin-left: 646px;
    border-radius: 50%;
    margin-top: 371px;
}
    .butt {
        text-align: center;
        margin-top: 17px;
        margin-left: 98px;
    }
.newitems{
    background-color: whitesmoke;
}