*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    border: 5px solid green;

}
.container{
   margin-left: 6px;
   margin-top: 2px;
}
h1{
    margin-top: 75px;
    margin-left: 150px;
    color: cornflowerblue;
    font-size: 45px;
}
.for1{
    margin-left: 161px;
    margin-top: 55px;
    color: cornflowerblue;
}
.tex{
    padding-top: 10px;
}

#te{
   width: 67%;
   height: 35px;
  color: darkgray;
  margin-top: 19px;
  border: 1px solid;
  border-radius: 3px;
}
.tex>input.pof{
  padding-left: 8px;
  
  font-size: 15px;
}
.check{
 
   margin-top: 15px;
}
.check .hj{
    display: inline-block;
    width: 20px;
   margin-left: 2px;
    height: 20px;
    position: absolute;
}
.check .h54{
display: inline;
position: relative;
cursor: pointer;
color: darkgray;
margin-left: 28px;
}

.but{
   margin-top: 19px;
}
.check>input[type="checkbox"] {
    display: none;
}
label{
    position: relative;
    
}
label::before{
    content: "";
    background: url("C:/Users/HP/Documents/SEED/Cuisine/interface 6/2.jpg");
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    position:absolute;
    left: -25px;
}

label::after{
    content: "";
    border: 2px solid;
    width: 18px;
    height: 17px;
    position:absolute;
    left: -25px;
    border-radius: 4px;
}

form{
    border: 1px solid gray;
padding-bottom: 25px;
    padding-left: 18px;
    width: 515px; 
    margin-top: 15px;
    padding-top: 10px;
    box-shadow: 2px 3px 8px 4px;
}
.tex>input[type=number]::-webkit-inner-spin-button, 
.tex>input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none !important;
    margin: 0 !important;
}