*{
    margin: 0;
    padding: 0;
}

#LOL{
    margin-left: 1200px;
    list-style: none;
}
li{
    float: left;
    padding: 13px 5px;
}
.sub{
    width: 70px;
    height: 25px;
    padding: 3px;
    margin-top: -6px;
    border-radius: 3px;
    color: white;
    background-color: royalblue;
    border: 1px ;
}
#google{
   height: 150px;
   width: 380px;
   margin-left: 550px;
   margin-top: 75px;
}
#res{
    margin-left: 460px;
    width: 550px;
    border-radius: 18px;
    height: 38px;
    
    border: 2px solid #e5e5e5;
}
#micro{
   margin-left: 965px; 
   margin-bottom: 225px;

}
#pau{
    margin-left: -45px;
   padding-top: 6px;
}
.but{
    margin-left: 550px;
    margin-top: 35px;
    padding: 0 5px;
    float: left;
   
}
.but1{
    margin-left: 30px;
    margin-top: 35px;
    padding: 0 5px;
    float: left;
   
}
button{
    border-radius: 5px;
    color: slategrey;
}
.para{
    margin-top: 100px;
    margin-left: 480px;
    font-size: medium;
color: blue;
}
#pa{
    margin-left: 620px;
    margin-top: 34px;
}
.kl{
    color: blue;
}
.footer{
    background-color: #f2f2f2;
    margin-left: 10px;
    height: 45px;
     width: 98.3%;
     margin-top: 150px;
     border: 1px solid slategrey ;
     display: block;
    box-shadow: 0.5px 0px 0px 0px;
}
.footer1{
    background-color: #f2f2f2;
    height: 45px;
     width: 95%;
     margin-left: 10px;
     box-shadow: 0.5px 0px 0px 0px;
     border: 1px solid slategrey ;
padding-left: 50px;
color:darkgray;
}
.second{
    list-style: none;
}
.lig{
    float: right;
    padding-left: 20px;
}