*{
    margin: 0;
    padding: 0;
}
.main{

    margin-top: 40px;
    margin-left: 85px;
    color: white;
}
.bo{
    float: right;
    margin-top: -29px;
margin-right: 100px;
font-size: 20px;
color: silver;
}
.fis{
    height: 110px;
    background-color: dimgrey;
    width: 95.1%;
    margin-left: 35px;
}
.nav{
    height: 50px;
    width: 95.15%;
    background-color: darkturquoise;
    margin-left: 34.5px;
}
.off{
    margin-left: 120px; 
    list-style: none;
}
#pain{
    float: left;
    padding: 13px 18px;
    color: white;
    font-size: 18px;
}
.img{
margin-left: 170px;
margin-top: 40px;
width: 685px;
}
.def{
    margin-left: 175px;
   
}
.lol{
    width: 800px;
}

.top{
margin-left: 20px;
margin-top: -2px;
}
#km{
    list-style: none;
    margin-top: -10px;
}
#pase{
    margin-left:  15px;
    margin-top: 15px;
color: darkturquoise;
    
}
.colme{
display:flex;
background: white;
}
.second{
    width: 400px;
    margin-left: 3px;
    margin-top: 1px;
}
#pure{
    float: left;
    border: 1px solid silver;
 margin-right: 15px;

 
}

.blo{
display: flex;

}
.mag{
    margin-left: 25px;
widows: 500px;;
}
#pas{
    margin-left:  4px;
    margin-top: 26px;
color: darkturquoise;
}


#but{
    margin-left:  5px;
    margin-top: 25px;
color: darkturquoise;
}
#k5{
    list-style: none;
    margin-top: 15px;
   
}
.trois{
    margin-top: 32px;
}
.bor{
 border-style: groove;
 margin-left: 30px;
 width: 95%;
 height: 1700px;
 border: 25px solid gray ;
 background: white;
 
}
.bor2{
    border-style: groove;
   margin-left: 36px;
   width: 94.8%;
   
  }
  .focus{
      margin-top: 45px;
      margin-left: 180px;
width: 70%;
  }
  .footer{
      display: flex;
      border-style: groove;
      margin-left: 36px;
      background-color:dimgrey;
   width: 94.8%;
   border-radius: 0 0 10px 10px;
   border-left: none;
   height: 290px;

  }
  
  #pos{
    margin-left:  15px;
    margin-top: 20px;
    font-size: large;

}
.border{
    width: 220px;
    height: 1px;
    background: darkgray ;
    margin-left: 15px;
    margin-top: 20px;
}
.border1{
    width: 370px;
    height: 1px;
    background: darkgray ;
    margin-left: 1px;
    margin-top: 20px;
}
.fod{
    color:darkturquoise ;
}